<section>
    <div id="SmsCallingSection">
        <div class="container">
            <h2 class="marketing-section-title text-center">
                <strong>SMS &amp; Calling:</strong> greater reliability and better control<br>
                with Multiple Carrier Support technology
            </h2>
            <div class="row sub-section justify-content-center flex-lg-row flex-column">
                <div class="text-holder d-flex order-2 order-lg-1 col-lg-6 flex-column justify-content-center">
                    <div>
                        <div class="object-non-visible col-md" data-animation-effect="fadeInLeftSmall">
                            <h3 class="marketing-subtitle">No more fallback solutions</h3>
                            <p class="marketing-text margin-bottom-20px">
                                We expose two global SMS &amp; Voice providers that can be set in a round-robin fashion so
                                that a
                                second attempt to verify the same number in less than 5 minutes will use the fallback
                                provider.
                            </p>
                            <p class="marketing-text margin-bottom-20px">
                                Both big telecom partners, both highly reliable.
                            </p>
                        </div>
                        <div class="object-non-visible  col-md" data-animation-effect="fadeInLeftSmall">
                            <h3 class="marketing-subtitle">Have control over each user</h3>
                            <p class="marketing-text margin-bottom-20px">
                                Monitor success &amp; cost analytics in real-time and choose which of our SMS &amp; Voice
                                providers
                                to use primarily.
                            </p>
                            <p class="marketing-text">
                                Now you have the tools you need to control cost and success rate directly from our web
                                console.
                            </p>
                        </div>
                        <div class="margin-top-30px margin-bottom-30px d-sm-none"></div>
                    </div>
                </div>
                <div class="col-lg-6 image-holder d-none d-md-flex order-1 order-lg-2 text-center flex-column  justify-content-center">
                    <img src="assets/images/landing/sms&callin-1.png" alt="browser">
                </div>
            </div>

            <div class="row sub-section justify-content-center flex-lg-row flex-column">
                <div class="text-holder d-flex order-2 order-lg-1 col-lg-6 flex-column justify-content-center">
                    <div class="object-non-visible" data-animation-effect="fadeInRightSmall">
                        <h3 class="marketing-subtitle">Carrier networks can be volatile</h3>
                        <p class="marketing-text">
                            That is why we offer our customers our unique Multiple Carrier Solution (MCS) to be able to
                            act instantly and direct traffic via the fastest and most secure alternative route.
                        </p>
                        <p class="marketing-text">
                            The fact that each of the carriers has different rates indicates that they are completely
                            independent telecom companies, with their own routes for SMS and calls, own redundancy and
                            scalability
                            policies and great support.
                        </p>
                        <p class="marketing-text">
                            Using CheckMobi, it's like integrating two different companies just to take care of your
                            user verification flow. If we can't deliver your SMS or call, probably nobody can.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 image-holder d-none d-md-block order-1 order-lg-2 text-center">
                    <img src="assets/images/landing/sms&calling-2.png" alt="multiple carriers">
                </div>
            </div>
        </div>
    </div>
</section>
