<section>
    <div id="AntiFraudSection">
        <div class="anti-fraud-section d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-1 secure-feature object-non-visible d-flex align-items-center"
                         data-animation-effect="fadeInUpSmall">
                        <div>
                            <h3 class="marketing-subheader font-weight-bold">CheckMobi AntiFraud</h3>
                            <p class="marketing-text">Prevent money loss with the most complete set of features to protect your
                                business
                                against SMS &amp; calling fraud.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        <img src="assets/images/landing/image-antifraud.png" alt="anti-fraud">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
