<section id="Highlight" class="d-flex flex-row align-items-center light-color">
    <div class="container">
        <div>
            <h1>CheckMobi AntiFraud</h1>
            <p class="marketing-text">Prevent money loss with the most complete set of features <br> to protect your
                business against
                SMS &amp; calling fraud.</p>
        </div>
        <div class="highlight-border d-none d-sm-block"></div>
    </div>
</section>

<section class="block-section dark-blue-sections light-color">
    <div class="container">
        <div class="row content-holder justify-content-center">
            <div class="col-sm-5 text-center image-holder d-none d-md-flex justify-content-center flex-column">
                <img src="assets/images/antifraud/antifraud.png" alt="antifraud">
            </div>
            <div class="col-sm-5 text-holder object-non-visible justify-content-center flex-column d-flex"
                 data-animation-effect="fadeInRightSmall">
                <div>
                    <h2 class="marketing-subtitle">
                        <a class="link">01.</a> Block or allow SMS &amp; calls by IP
                    </h2>
                    <p class="marketing-text">
                        Choose to block an IP or a range of IPs that look suspicious from sending SMS, calls or both.
                    </p>
                    <p class="marketing-text">
                        If you have a server-to-server integration with CheckMobi you can just allow SMS and calls
                        from your company's IPs and block everything else.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row content-holder justify-content-center">
            <div class="col-sm-5 text-holder object-non-visible d-flex justify-content-center flex-column"
                 data-animation-effect="fadeInLeftSmall">
                <div>
                    <h2 class="marketing-subtitle">
                        <a class="link">02.</a> Block or allow SMS &amp; calls by country, network or number format
                    </h2>
                    <p class="marketing-text">
                        Bu combining our comprehensive set of rules on SMS and calls you can:
                    </p>
                    <ul>
                        <li>Allow only in countries where you conduct business.</li>
                        <li>Block on countries with big rates of high fraud risk.</li>
                        <li>Block for numbers that begin with a specific prefix, to restrict services for specific
                            mobile networks or number groups.
                        </li>
                        <li>Block for unique mobile numbers</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 text-center image-holder d-none d-md-flex justify-content-center flex-column">
                <img src="assets/images/antifraud/block-allow.png" alt="block-allow">
            </div>
        </div>
    </div>
</section>


<section class="light-blue-section restrict-section">
    <div class="container">
        <div class="row content-holder justify-content-center">
            <div class="col-sm-5 text-center image-holder d-none d-md-flex flex-column justify-content-center">
                <img src="assets/images/antifraud/restrict.png" alt="restrict">
            </div>
            <div class="col-sm-5 text-holder object-non-visible d-flex flex-column justify-content-center"
                 data-animation-effect="fadeInLeftSmall">
                <div>
                    <h2 class="marketing-subtitle"><a class="link">03.</a> Restrict the number of attempts by IP</h2>
                    <p class="marketing-text">
                        Decide how many SMS or calls you allow to be made from a unique IP in a custom time period.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="decide-section dark-blue-section">
    <div class="container">
        <div class="row content-holder justify-content-center">
            <div class="col-sm-5 text-holder object-non-visible d-flex flex-column justify-content-center"
                 data-animation-effect="fadeInLeftSmall">
                <div>
                    <h2 class="marketing-subtitle"><a class="link">04.</a> Restrict the number of attempts by uniques mobile number</h2>
                    <p class="marketing-text">
                        Decide how many SMS or calls you allow to be made towards a unique mobile number in a custom time
                        period.
                    </p>
                </div>
            </div>
            <div class="col-sm-5 text-center image-holder d-xnone d-md-flex flex-row align-content-center">
                <img src="assets/images/antifraud/restrict2.png" alt="restrict">
            </div>
        </div>
    </div>
</section>
