<div class="page-title-holder">
    <div class="container">
        <h1 class="page-title">Terms of Service(s) - last updated: April, 2020</h1>
    </div>
</div>

<div class="container">
    <br>
    <p>
        CheckMobi enables its users ("they", "their", "you" or "your"), via its website (https://checkmobi.com) (the
        "Website"), its API, its services or other means, to build SMS, IVR and Caller ID mobile phone number validation
        applications. using their existing web development skills (collectively, the "CheckMobi Cloud"). The CheckMobi
        Cloud is owned and operated by CHECKMOBI LIMITED, ("its", "CheckMobi", "we" or "us") located in 5 Secretary's
        Lane, Gibraltar, Gibraltar, Postal Code GX11 1AA, Registration No. 115778.
    </p>
    <p>
        Your use of the website and the CheckMobi Cloud (the "Services") is subject to the terms and conditions set
        forth in these Terms of Service (the "Terms of Service").<br>
        PLEASE READ THE TERMS OF SERVICE CAREFULLY. BY ACCESSING OR USING THE WEBSITE OR THE CHECKMOBI CLOUD, YOU
        ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND TO ALL THE TERMS OF OUR TERMS OF SERVICE AND
        THE PRIVACY POLICY. IF YOU DO NOT AGREE TO THESE TERMS, EXIT THIS PAGE AND DO NOT ACCESS OR USE THE WEBSITE OR
        THE CHECKMOBI CLOUD.
    </p>
    <p>
        The CheckMobi Cloud is meant for those who are at least eighteen (18) years of age. Use of the CheckMobi Cloud
        by anyone under the age of 18 is a violation of the Terms of Service. If you are under the age of 18, and are
        not an emancipated minor, you must have the consent of a parent, or legal guardian to use or access the
        CheckMobi Cloud.
    </p>
    <p>
        You agree to incorporate CheckMobi's policies into your own products and policies and ensure that your customers
        adhere to our policies. If you are accepting these terms of service on behalf of your employer or another
        entity, you represent and warrant that: (i) you have full legal authority to bind your employer, or the
        applicable entity, to these Terms of Service; (ii) you have read and understand the Terms of Service; and (iii)
        you agree, on behalf of the party that you represent, to these terms of Service. If you do not have the legal
        authority to bind your employer or the applicable entity, please do not put a check mark next to the "I AGREE"
        checkbox and click on the SUBMIT button or use the CheckMobi Cloud.
    </p>
    <p>
        Updates to Terms of Service; Integration. We may, in our sole discretion, modify the Terms of Service with or
        without notice to you. The "Last Updated" date at the top the Terms of Service will indicate when the latest
        modifications were made. By putting a check mark next to the "I AGREE" checkbox and clicking on the "SUBMIT"
        button or continuing to access and use the Website or the CheckMobi Cloud after the Terms of Service are
        modified, you agree to such modifications. Therefore, you should review the Terms of Service prior to each use
        of the Website and/or the CheckMobi Cloud.
    </p>
    <p>
        In addition, when using particular services or features on the Website and/or the CheckMobi Cloud, you will be
        subject to any posted guidelines or policies applicable to such services or features or that may be posted from
        time to time, including but not limited to the Terms of Service and Privacy Policy as noted below. All such
        guidelines or policies are hereby incorporated by reference into these Terms of Service.
    </p>
    <p>
        Unless explicitly stated otherwise, any new features provided by CheckMobi that augment or enhance the CheckMobi
        Cloud shall be subject to these Terms of Service.
    </p>
    <p>
        Privacy Policy. Use of the Website and the CheckMobi Cloud is subject to the terms of our Privacy Policy found
        at https://checkmobi.com/privacy, which is hereby incorporated into and made part of these Terms of Service.
        Please review our Privacy Policy carefully. By using the Website or the CheckMobi Cloud, you agree to be bound
        by the terms of our Privacy Policy.
    </p>
    <p>
        Intellectual Property. You acknowledge that all materials at the Website and the CheckMobi Cloud, including the
        Website's and the CheckMobi Cloud's design, graphics, text, sounds, pictures, and other files and the selection
        and arrangement thereof (collectively, "Materials"), are the property of CheckMobi and/or its licensors, and are
        subject to and protected by Romania and international copyright and other intellectual property laws and rights.
        All rights to Materials not expressly granted in these Terms of Service are reserved to their respective
        copyright owners. CheckMobi authorizes you to view and download the Materials only for personal, non-commercial
        use, provided that you keep intact all copyright and other proprietary notices contained in the original
        Materials. Except as expressly authorized by the Terms of Service, you may not copy, reproduce, distribute,
        republish, download, perform, display, post, transmit, exploit, create derivative works or otherwise use any of
        the Materials in any form or by any means, without the prior written authorization of CheckMobi or the
        respective copyright owner. In an absence of a written agreement, you may not modify or adapt the Materials in
        any way or otherwise use them for any public or commercial purposes. The trademarks, service marks, trade names,
        trade dress and logos (collectively, "Marks") contained or described at the Website and/or the CheckMobi Cloud
        are the sole property of CheckMobi and/or its licensors and may not be copied, altered or otherwise used, in
        whole or in part, without the prior written authorization of CheckMobi and/or its licensors. In addition, all
        page headers, custom graphics, button icons and scripts are the property of CheckMobi and may not be copied,
        imitated or otherwise used, in whole or in part, without the prior written authorization of CheckMobi. In the
        event you use an open source version of the CheckMobi Cloud, you are not allowed to use any of the Marks in such
        open source offering. CheckMobi reserves the right to enforce its intellectual property rights to the fullest
        extent of the law.
    </p>
    <p>
        You may not, nor allow any third party to, copy, distribute, sell, disclose, lend, transfer, convey, modify,
        decompile, disassemble or reverse engineer the Website or the CheckMobi Cloud for any purpose whatsoever.
    </p>
    <p>
        You may write a software application or website (an "App") that interfaces with the CheckMobi Cloud, and hereby
        acknowledge that CheckMobi may change, deprecate or republish the CheckMobi Cloud (including any APIs) or
        feature of the CheckMobi Cloud from time to time, and that it is your responsibility to ensure that calls or
        requests you make to or via the CheckMobi Cloud are compatible with then-current CheckMobi Cloud. We will
        attempt to inform you of any changes with reasonable notice so that you can adjust your App, but we are under no
        obligation to do so.
    </p>
    <p>
        You and any Apps that you may build, distribute, or otherwise create may make network calls or requests to the
        CheckMobi Cloud, or may receive phone calls via the CheckMobi Cloud, at any time that the CheckMobi Cloud is
        available provided that those requests do not violate these Terms of Use.
    </p>
    <p>
        Provided that you comply with these Terms of Service, you may use the CheckMobi Cloud to execute Apps owned or
        lawfully obtained by you, and you are solely responsible for such Apps, including any data, text, images or
        content contained therein. You are personally responsible for all traffic originating from your Apps or using
        your account credentials to the CheckMobi Cloud. Therefore, you should protect your authentication keys and
        security credentials. Any action taken with your credentials are deemed to be actions taken by you, with all
        consequences including service termination, civil and criminal penalties.
    </p>
    <p>
        For the avoidance of doubt, your use of the Website and the CheckMobi Cloud is solely and exclusively under the
        limited license granted herein and you will not obtain any ownership interest therein through these Terms of
        Service or otherwise. All trademarks, service marks, trade names, domain names, slogans, logos, and other
        indicia of origin that appear on or in connection with any aspect of the CheckMobi Cloud are either the property
        of CheckMobi or its affiliates or licensors. CheckMobi retains the right to rescind and terminate the limited
        license granted hereunder at any point, for any reason. Upon termination of these Terms of Service, the license
        shall also terminate and all rights shall revert to CHECKMOBI without the taking of action on the part of either
        party. All rights not expressly granted herein by CheckMobi to you are fully reserved by CheckMobi, its
        advertisers and licensors.
    </p>
    <p>
        Some of the company and product names, logos, brands, and other trademarks featured or referred to within the
        Website and the CheckMobi Cloud may not be owned by CheckMobi Inc., and are the property of their respective
        trademark holders. These trademark holders are not affiliated with, nor do they sponsor or endorse, CheckMobi
        Inc., the CheckMobi Cloud, our products and services, or the Website.
    </p>
    <p>
        Subject to your acceptance of and compliance with these Terms of Service, ongoing compliance with these Terms of
        Service, and payment if and as required for your right to use the Website and/or the CheckMobi Cloud, CheckMobi
        hereby grants to you a limited, non-exclusive, non-transferable, non-sublicensable, revocable license during the
        term of these Terms of Service in and under our intellectual property rights in the Website and the CheckMobi
        Cloud, only to use the solely in connection with and as necessary for your use of the CheckMobi Cloud, solely in
        accordance with these Terms and Conditions.
    </p>
    <p>
        Term. The term ("Term") of these Terms of Service will commence your acceptance of these Terms of Service and
        will remain in effect until terminated by you or CheckMobi. You may terminate these Terms of Service for any
        reason or no reason at all. We may suspend your right and license to use any or all Services or terminate these
        Terms of Service in its entirety for any reason or for no reason, at our discretion by providing thirty (30)
        days advance notice. If CheckMobi determines that providing advance notice would negatively impact CheckMobi's
        ability to provide Services, CheckMobi may suspend your right and license to use any or all Services or
        terminate these Terms of Service without notice.
    </p>
    <p>
        CheckMobi may suspend your right and license to use the Service or terminate these Terms of Service for cause
        effective as set forth below:
        Immediately upon our notice to you if (i) you violate any provision of these Terms of Service or we have reason
        to believe that you have violated these Terms of Service, (ii) there is an unusual spike or increase in your use
        of the Services for which there is reason to believe such traffic or use is fraudulent and/or negatively
        impacting the operating capability of the Service; (iii) we determine, in our sole discretion, that our
        provision of any of the Services to you is prohibited by applicable law, or has become impractical or unfeasible
        for any legal or regulatory reason; or (iv) you become the subject of a voluntary or involuntary bankruptcy or
        similar proceeding, or make an assignment for the benefit of creditors; and
    </p>
    <p>
        Immediately and without notice if you are in default of any payment obligation with respect to any of the
        Services or if any payment mechanism you have provided to us is invalid or charges are refused for such payment
        mechanism.
    </p>
    <p>
        Upon our suspension of your use of any Services, in whole or in part, for any reason: (i) fees will continue to
        accrue for any Services that are still in use by you; (ii) you remain liable for all fees, charges and any other
        obligations you have incurred through the date of suspension with respect to the Services; and (iii) all of your
        rights with respect to the Services shall be terminated during the period of the suspension.
    </p>
    <p>

    </p>
    Upon termination of these Terms of Service for any reason: (i) you remain liable for all fees, charges and any other
    obligations you have incurred through the date of termination with respect to the Services; and (ii) all of your
    rights under these Terms of Service shall immediately terminate.
    Notwithstanding such termination or suspension, you will continue to be subject to the "Intellectual Property,"
    "Fees," "Content," "Representations and Warranties," "Disclaimers and Limitations of Liability," "Indemnification,"
    "Applicable Law and Jurisdiction" and "Use of the CheckMobi Cloud" sections of these Terms of Service.
    Except as otherwise expressly stated in these Terms of Service, you agree that CheckMobi shall not be liable to you
    or to any third party for any modification, suspension or discontinuation of the Website or the CheckMobi Cloud.
    <p>
        Downtime; Security. Your access to and use of the Services may be suspended for the duration of any
        unanticipated or unscheduled downtime or unavailability of any portion or all of the Services for any reason,
        including as a result of power outages, system failures or other interruptions; and (ii) we shall also be
        entitled, without any liability to you, to suspend access to or shut down all of the Services at any time (a)
        for scheduled downtime to permit us to conduct maintenance or make modifications to any of the Services; (b) in
        the event of a denial of service attack or other attack on the Services or other event that we determine, in our
        sole discretion, may create a risk to the Services, to you or to any of our other customers if the Services were
        not suspended; or (c) in the event that we determine that any of the Services is prohibited by applicable law or
        we otherwise determine that it is necessary or prudent to do so for legal or regulatory reasons (collectively,
        "Service Suspensions") including and not limited to attempting additional calls per second than allowed or
        spamming end users in a prohibited manner. CheckMobi shall have no liability whatsoever for any damage,
        liabilities, losses (including any loss of data or profits) or any other consequences that you may incur as a
        result of any Service Suspension. To the extent we are able, we will endeavor to provide you notice of any
        Service Suspension and to post updates regarding resumption of Services following any such suspension, but shall
        have no liability for the manner in which we may do so or if we fail to do so.
    </p>
    <p>
        We strive to keep information you provide to us secure, but cannot guarantee that we will be successful at doing
        so. You acknowledge that you bear sole responsibility for adequate security, protection and backup of your
        content including all audio recordings associated with your account. CheckMobi will have no liability to you for
        any unauthorized access or use, corruption, deletion, destruction or loss of any of your content.
    </p>
    Fees. Free Services are limited to one per person, and if we find that you have created multiple free trial
    accounts, we reserve the right to suspend those accounts and take actions to prevent additional violations. Free
    Services come with the amount of services set forth here. We may provide notice to you of reaching 60% and 80% of
    the amount of services offered under our free plan, but may shut off your account without notice upon reaching the
    maximum amount of services under the free plan
    <p>To the extent the Services are made available for a fee, you agree to pay all applicable fees. Our current fee
        schedule for our priced plans are set forth here: http://checkmobi.com/pricing. As such, CheckMobi reserves the
        right to increase or add new fees to any of its Services without advance notice. Your continued use of the
        Services after a price change becomes effective constitutes your agreement to pay the changed amount. All fees
        payable by you are exclusive of applicable taxes and duties, including, without limitation, VAT and applicable
        sales tax. You will provide such information to us as reasonably required to determine whether we are obligated
        to collect VAT from you.
    </p>
    <p>
        We may specify the manner in which you will pay any fees, and any such payment shall be subject to our general
        accounts receivable policies from time to time in effect. All amounts payable by you under these Terms of
        Service will be made without setoff or counterclaim and without deduction or withholding. If any deduction or
        withholding is required by applicable law, You shall notify us and shall pay such additional amounts to us as
        necessary to ensure that the net amount that we receive, after such deduction and withholding, equals the amount
        we would have received if no such deduction or withholding had been required. Additionally, You shall provide us
        with documentation that the withholding and deducted amounts have been paid to the relevant taxing authority.
    </p>
    <p>
        If you have any dispute with regards to fees associated with your account, please contact us at
        support@checkmobi.com within 90 days of the date of the activity that generated such dispute, and we will
        attempt to resolve the matter. Any and all refunds issued to resolve such a dispute shall be issued as credits
        to your account, but in no event shall there be any cash refunds. Disputes older than 90 days shall not be
        entitled to any refunds or credits.
    </p>
    <p>
        Third Party Sites. Links at the Website or via the CheckMobi Cloud to third party websites are provided only as
        a convenience to you. If you use these links, you will leave the Website and potentially the CheckMobi Cloud.
        CheckMobi does not control or endorse any such third party websites. You agree that the CheckMobi Parties, as
        defined below, will not be responsible or liable for any content, goods or services provided on or through these
        outside websites or for your use or inability to use such websites. You will use these links at your own risk.
        You are advised that other websites on the Internet, including third party websites linked from this Website or
        the CheckMobi Cloud, might contain material or information: that some people may find offensive or
        inappropriate; that is inaccurate, untrue, misleading or deceptive; or that is defamatory, libelous, infringing
        of others' rights or otherwise unlawful. CheckMobi expressly disclaims any responsibility for the content,
        legality, decency or accuracy of any information, and for any products and services, that appear on any third
        party website.
    </p>
    <p>
        Use of CheckMobi Cloud. You may be required to establish an account at this Website in order to take advantage
        of certain features of this Website or the CheckMobi cloud. If so, you agree to: (a) provide true, accurate,
        current and complete information about yourself as prompted by the Website or the CheckMobi Cloud; and (b) as
        permitted, maintain and promptly update such information to keep it true, accurate, current and complete. If you
        provide any information that is false, inaccurate or outdated, or CheckMobi has reasonable grounds to suspect
        that such information is false, inaccurate or outdated, CheckMobi has the right to suspend or terminate your
        account and prohibit any and all current or future use of the Website and CheckMobi Cloud (or any portion
        thereof) by you.</p>
    <p>
        Upon using CheckMobi services, you hereby grant us permission to use your trade names, trademarks, service
        marks, logos, domain names and the like, for the purpose of promoting and / or advertising your use of CheckMobi
        services. In addition, CheckMobi may request testimonials and create case studies, for the purpose of joint
        marketing and public relations efforts that will be published on our website and shared with current and
        potential customers.
    </p>
    <p>
        You may be prompted to create a username and password to use certain features of the Website or participate in
        the CheckMobi Cloud. If so, you are responsible for maintaining the confidentiality of the password and account,
        and are fully responsible for all activities that occur under your password or account. Your account is meant to
        be private and you shall not share accounts, use another member's account, nor allow others to use your account
        for any reason. You agree to: (a) immediately notify CheckMobi of any unauthorized use of your password or
        account or any other breach of security; and (b) ensure that you exit from your account at the end of each
        session. You agree to be responsible for all charges resulting from the use of your account at the Website or
        via the CheckMobi Cloud, including charges resulting from unauthorized use of your account prior to your taking
        steps to prevent such occurrence by changing your password and notifying CheckMobi. The CheckMobi Parties cannot
        and will not be liable for any loss or damage arising from your failure to comply with these requirements.
    </p>
    <p>
        You agree to use the Website and CheckMobi Cloud only for lawful purposes and that you are responsible for your
        use of and communications and content you post via the CheckMobi Cloud. You agree not to use the Services to
        offer any hardware or hardware/software combination of services for any unlawful purposes. You agree not to post
        on or transmit through this Website or the CheckMobi Cloud any unlawful, infringing, threatening, harassing,
        defamatory, vulgar, obscene, profane, indecent, offensive, hateful or otherwise objectionable material of any
        kind, including any material that encourages criminal conduct or conduct that would give rise to civil
        liability, infringes others' intellectual property rights or otherwise violates any applicable local, state,
        national or international law. You agree not to use this Website or CheckMobi Cloud in any manner that
        interferes with its normal operation or with any other user's use and enjoyment of the Website or the CheckMobi
        Cloud.
    </p>
    <p>
        You may not do any of the following while accessing or using the CheckMobi Cloud: (i) access, tamper with, or
        use non-public areas of the CheckMobi cloud, our computer systems, or the technical delivery systems of our
        providers; (ii) probe, scan, or test the vulnerability of any system or network or breach or circumvent any
        security or authentication measures; (iii) access or search or attempt to access or search the CheckMobi Cloud
        by any means (automated or otherwise) other than through our currently available, published interfaces that are
        provided by us (and only pursuant to those terms and conditions), unless you have been specifically allowed to
        do so in a separate agreement with us; (iv) forge any TCP/IP packet header or any part of the header information
        in any email or posting, or in any way use the Services to send altered, deceptive or false source-identifying
        information; or (v) interfere with, or disrupt, (or attempt to do so), the access of any user, host or network,
        including, without limitation, sending a virus, overloading, flooding, spamming, mail-bombing the CheckMobi
        Cloud or Website, or by scripting the creation of content in such a manner as to interfere with or create an
        undue burden on the CheckMobi cloud or Website.
    </p>
    <p>
        Additionally, the following list gives examples of illegal, abusive, interfering or otherwise unacceptable or
        inappropriate behavior while using the Website or the CheckMobi Cloud.
    </p>
    <p>
        Attempting to bypass or break any security mechanism on any of the Services or using the Services in any other
        manner that poses a security or service risk to CheckMobi, to any user of our Services, or to any of our or
        their respective customers. * Testing or reverse-engineering the Services in order to find limitations,
        vulnerabilities or evade filtering capabilities. * Using the Services in any manner that may subject CheckMobi
        or any third party to liability, damages or danger. * Using the Services in any manner that violates any
        applicable third party policies or requirements that CheckMobi has communicated to the customer. * Using the
        Services in any manner that violates the Mobile Marketing Association guidelines and/or best practices, carrier
        guidelines, or any other industry standards. * Engaging in fraud with respect to your account, including using
        any caller ID functionality of the Services to misrepresent the identity of a caller. * Using your account to
        engage in fraudulent activity with respect to third parties or otherwise using your account to bypass phone
        identification systems such as those by classified advertising websites. * Using any of the CheckMobi perties or
        CheckMobi Marks other than as expressly permitted. * Transmitting any material that may infringe the
        intellectual property rights or other rights of third parties, including but not limited to trademark, copyright
        or rights of publicity or otherwise violating, infringing, or misappropriating the rights of any third party. *
        Engaging in spamming or other unsolicited advertising, marketing or other activities, including, without
        limitation, any activities that violate anti-spamming laws and regulations including, but not limited to, the
        CAN SPAM Act of 2003, the Telephone Consumer Protection Act, and the Do-Not-Call Implementation Act. * Using the
        Services in connection with any unsolicited or harassing messages (commercial or otherwise) including but not
        limited to unsolicited or unwanted phone calls SMS or text messages, voice mail, or faxes.
    </p>
    <p>
        Using CheckMobi SMS in a manner that is not designed to enhance or augment the person-to-person nature of SMS
        communications. * Offering services that allow a user to connect with emergency services personnel or public
        safety answering points such as 911 or E911 services. * Promoting or engaging in illegal activities. * Engaging
        in activities or transmitting through the Services any information that may be libelous or defamatory or
        otherwise malicious or harmful to any person or entity, or discriminatory based on race, sex, religion,
        nationality, disability, sexual orientation, or age. * Harvesting or otherwise collecting information about
        others, including email addresses or phone numbers, from CheckMobi's website without their express consent.
    </p>
    <p>
        You further agree that you will not access this Website or the CheckMobi cloud by any means except through the
        interface provided by CheckMobi access to the Website and the CheckMobi Cloud, and that you will follow all
        carrier guidelines. Creating or maintaining any link from another website to any page at the Website without the
        prior authorization of CheckMobi is prohibited. Running or displaying this Website, the CheckMobi cloud, or any
        information or material displayed at the Website in frames or through similar means on another website or
        application without the prior authorization of CheckMobi is prohibited. Any permitted links to this Website must
        comply with all applicable laws, rule and regulations.
    </p>
    <p>
        CheckMobi makes no representation that Materials contained at the Website or products or services described or
        offered at the Website or the CheckMobi Cloud are accurate, appropriate or available for use in jurisdictions
        outside the United States, or that these Terms of Service comply with the laws of any other country. Visitors
        who use the Website or the CheckMobi Cloud and reside outside the United States do so on their own initiative
        and are responsible for compliance with all laws, if and to the extent local laws are applicable. You agree that
        you will not access this Website or the CheckMobi Cloud from any territory where its contents are illegal, and
        that you, and not the CheckMobi Parties, are responsible for compliance with applicable local laws.
    </p>
    <p>
        Content. All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person
        who originated such content. You acknowledge that all Content accessed by you using the Website and/or the
        CheckMobi Cloud is at your own risk and you will be solely responsible and liable for any damage or loss to you
        or any other party resulting therefrom. You retain your rights to any Content you submit, post or display on or
        through the CheckMobi Cloud.
    </p>
    <p>
        For purposes of these Terms of Service, the term "Content" includes, without limitation, any location
        information, videos, audio clips, comments, information, data, text, photographs, software, scripts, graphics,
        and interactive features generated, provided, or otherwise made accessible on the Website or through the
        CheckMobi Cloud.<br>
        Representations and Warranties. You represent and warrant that you will not use the Services or your App in a
        manner that violates these Terms of Service.
    </p>
    <p>
        You represent and warrant: (i) that You are solely responsible for the development, operation, and maintenance
        of your App and Content, including without limitation, the accuracy, appropriateness and completeness of your
        Content; (ii) that you have the necessary rights and licenses, consents, permissions, waivers and releases to
        use and display your App and your Content; (iii) that neither your App nor Content (a) violates, misappropriates
        or infringes any rights of us or any third party, (b) constitutes defamation, invasion of privacy or publicity,
        or otherwise violates any rights of any third party, or (c) is designed for use in any illegal activity or
        promotes illegal activities, including, without limitation, in a manner that might be libelous or defamatory or
        otherwise malicious, illegal or harmful to any person or entity, or discriminatory based on race, sex, religion,
        nationality, disability, sexual orientation, or age; (iv) that neither your App nor Content contains any harmful
        components; and (v) that CheckMobi is not responsible to you for indemnification or directly to any of your
        customers or clients if you offer services (including your App(s)) based on the CheckMobi Cloud. You also
        represent and warrant that you are responsible for any charges incurred by your use of the App, no matter
        whether the App acted in error.</p>
    <p>
        You understand and agree that CheckMobi may need to change the telephone number(s) assigned to you. You agree
        that CheckMobi will not be liable for damages (including consequential or special damages) arising out of any
        such change in the telephone number(s) assigned to you and you hereby waive any claims with respect to any such
        change, whether based on contractual, tort or other grounds, even if CheckMobi has been advised of the
        possibility of damages.
    </p>
    <p>
        You represent and warrant that you have read and understood these Terms of Service, and you agree to abide by
        their terms, where applicable, including as incorporated by reference herein. You further agree to abide by all
        applicable local, state, national, foreign and international laws and regulations and that you will be solely
        responsible for all acts or omissions that occur under Your account or password, including the content of your
        transmissions through the Service.
    </p>
    <p>
        You represent and warrant that without CheckMobi's express written consent you will not use, and will not
        authorize any third party to use, any Public Software (as defined below) in connection with the Services in any
        manner that requires, pursuant to the license applicable to such Public Software, that any of the Services be
        (a) disclosed or distributed in source code form, (b) made available free of charge to recipients, or (c)
        modifiable without restriction by recipients. "Public Software" means any software, documentation or other
        material that contains, or is derived (in whole or in part) from, any software, documentation or other material
        that is distributed as free software, open source software (e.g., Linux) or similar licensing or distribution
        models, including, but not limited to software, documentation or other material licensed or distributed under
        any of the following licenses or distribution models, or licenses or distribution models similar to any of the
        following: (i) GNU's General Public License (GPL), Lesser/Library GPL (LGPL), or Free Documentation License,
        (ii) The Artistic License (e.g., PERL), (iii) the Mozilla Public License, (iv) the Netscape Public License, (v)
        the Sun Community Source License (SCSL), (vi) the Sun Industry Standards License (SISL), (vii) the BSD License
        and (viii) the Apache License.
    </p>
    <p>
        Disclaimers and Limitations of Liability. YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
        YOUR USE OF THE WEBSITE AND THE CHECKMOBI CLOUD IS AT YOUR SOLE RISK. THE WEBSITE, THE CHECKMOBI CLOUD AND THE
        MATERIALS CONTAINED HEREIN ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. EXCEPT AS OTHERWISE EXPRESSLY
        PROVIDED IN THESE TERMS OF SERVICE, CHECKMOBI, ITS PARENT, SUBSIDIARY AND OTHER AFFILIATED COMPANIES, AND THEIR
        RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES AND OTHER REPRESENTATIVES (COLLECTIVELY, THE "CHECKMOBI PARTIES"),
        EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE
        IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. WITHOUT LIMITING
        THE GENERALITY OF THE FOREGOING, THE CHECKMOBI PARTIES MAKE NO WARRANTY THAT: (I) THE WEBSITE OR CHECKMOBI CLOUD
        WILL MEET YOUR REQUIREMENTS; (II) THE WEBSITE AND CHECKMOBI CLOUD WILL BE UNINTERRUPTED, TIMELY, SECURE, OR
        ERROR-FREE; (III) INFORMATION THAT MAY BE OBTAINED WILL BE ACCURATE OR RELIABLE; (IV) THE QUALITY OF ANY
        PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL OBTAINED BY YOU THROUGH THE WEBSITE OR CHECKMOBI CLOUD WILL
        MEET YOUR EXPECTATIONS OR NEEDS; AND (V) ANY ERRORS IN THE WEBSITE OR CHECKMOBI CLOUD WILL BE CORRECTED.
    </p>
    <p>
        THE CHECKMOBI PARTIES SHALL NOT UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING OUT OF, IN
        CONNECTION WITH OR RELATING TO THE USE OF OR INABILITY TO USE THE WEBSITE OR CHECKMOBI CLOUD, INCLUDING ANY
        LIABILITY: (I) AS A PUBLISHER OF INFORMATION; (II) FOR ANY INCORRECT OR INACCURATE INFORMATION; (III) FOR ANY
        UNAUTHORIZED ACCESS TO OR DISCLOSURE OF YOUR TRANSMISSIONS OR DATA; (IV) FOR STATEMENTS OR CONDUCT OF ANY THIRD
        PARTY ON THE WEBSITE; OR (V) FOR ANY OTHER MATTER RELATING TO THIS WEBSITE, THE CHECKMOBI CLOUD OR ANY THIRD
        PARTY WEBSITE. THIS IS A COMPREHENSIVE LIMITATION OF LIABILITY THAT APPLIES TO ALL DAMAGES OF ANY KIND,
        INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES, WHETHER BASED ON BREACH OF
        CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE, EVEN IF AN INDIVIDUAL
        ADVISES OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATIONS OF LIABILITY SET FORTH HEREIN ARE FUNDAMENTAL
        ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN CHECKMOBI AND YOU. THE PRODUCTS, INFORMATION AND SERVICES OFFERED
        ON AND THROUGH THE WEBSITE AND THE CHECKMOBI CLOUD WOULD NOT BE PROVIDED WITHOUT SUCH LIMITATIONS.
    </p>
    <p>
        NOTWITHSTANDING THE FOREGOING, THE SOLE AND ENTIRE MAXIMUM LIABILITY OF THE CHECKMOBI PARTIES FOR ANY REASON,
        AND YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY CAUSE OR CLAIM WHATSOEVER, SHALL BE LIMITED TO THE AMOUNT PAID BY YOU
        FOR ANY PRODUCT, INFORMATION OR SERVICE PURCHASED BY YOU FROM CHECKMOBI VIA THIS WEBSITE OR THE CHECKMOBI CLOUD.
        SOME JURISDICTIONS DO NOT ALLOW THE DISCLAIMER OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY
        FOR CERTAIN TYPES OF DAMAGES. ACCORDINGLY, SOME OF THE ABOVE DISCLAIMERS AND LIMITATIONS MAY NOT APPLY TO YOU.
    </p>
    <p>
        Indemnification. You agree to indemnify, defend and hold harmless the CheckMobi Parties against all claims,
        demands, causes of action, losses, expenses, damages and costs (including any reasonable attorneys' fees),
        resulting or arising from or relating to your use of or conduct at the Website or CheckMobi Cloud, any activity
        related to your account by you or any other person, any material that you submit to, post on or transmit through
        the Website or the CheckMobi Cloud, your breach of these Terms of Service, your infringement or violation of any
        rights of another, or termination of your access to the Website or the CheckMobi Cloud. We reserve the right to
        assume, at our sole expense, the exclusive defense and control of any such claim or action and all negotiations
        for settlement or compromise, and you agree to fully cooperate with us in the defense of any such claim, action,
        settlement or compromise negotiations, as requested by us.
    </p>
    Applicable Law and Jurisdiction. Your use of the Website and the CheckMobi Cloud is governed by and will be enforced
    under the laws of Romania without regard to its conflict of law provisions. You agree to submit to the personal and
    exclusive jurisdiction of the courts located within the County of Romania. You agree that printed copies of any and
    all agreements and/or notices in electronic form are admissible in any legal or regulatory proceedings. IN ANY
    CLAIM, ACTION OR PROCEEDING TO ENFORCE ANY RIGHT OR OBLIGATION OF THE PARTIES UNDER THE AGREEMENT INCLUDING, WITHOUT
    LIMITATION, RELATING TO YOUR USE OF OUR SERVICES, YOU HEREBY WAIVE ANY RIGHT YOU MAY NOW HAVE OR HEREAFTER POSSESS
    TO A TRIAL BY JURY.
    <br><br>
    YOU AND CHECKMOBI BOTH AGREE TO RESOLVE DISPUTES ONLY BY ARBITRATION. THERE'S NO JUDGE OR JURY IN ARBITRATION, AND
    THE PROCEDURES MAY BE DIFFERENT, BUT AN ARBITRATOR CAN AWARD YOU THE SAME DAMAGES AND RELIEF, AND MUST HONOR THE
    SAME TERMS IN THESE TERMS OF SERVICE, AS A COURT WOULD. IF THE LAW ALLOWS FOR AN AWARD OF ATTORNEYS' FEES, AN
    ARBITRATOR CAN AWARD THEM TOO. YOU AND CHECKMOBI ALSO BOTH AGREE THAT:
    <br><br>
    THE FEDERAL ARBITRATION ACT APPLIES TO THESE TERMS OF SERVICE. ANY DISPUTE THAT IN ANY WAY RELATES TO OR ARISES OUT
    OF THESE TERMS OF SERVICE OR FROM ANY SERVICES YOU RECEIVE FROM US WILL BE RESOLVED BY ONE OR MORE NEUTRAL
    ARBITRATORS BEFORE THE AMERICAN ARBITRATION ASSOCIATION ("AAA"). YOU CAN ALSO BRING ANY ISSUES YOU MAY HAVE TO THE
    ATTENTION OF FEDERAL, STATE, OR LOCAL GOVERNMENT AGENCIES, AND IF THE LAW ALLOWS, THEY CAN SEEK RELIEF AGAINST US
    FOR YOU.
    <br><br>
    THESE TERMS OF SERVICE DOESN'T ALLOW CLASS OR COLLECTIVE ARBITRATIONS EVEN IF THE AAA PROCEDURES OR RULES WOULD.
    NOTWITHSTANDING ANY OTHER PROVISION OF THESE TERMS OF SERVICE, THE ARBITRATOR MAY AWARD MONEY OR INJUNCTIVE RELIEF
    ONLY IN FAVOR OF THE INDIVIDUAL PARTY SEEKING RELIEF AND ONLY TO THE EXTENT NECESSARY TO PROVIDE RELIEF WARRANTED BY
    THAT PARTY'S INDIVIDUAL CLAIM. NO CLASS OR REPRESENTATIVE OR PRIVATE ATTORNEY GENERAL THEORIES OF LIABILITY OR
    PRAYERS FOR RELIEF MAY BE MAINTAINED IN ANY ARBITRATION HELD UNDER THESE TERMS OF SERVICE.
    <br><br>
    IF EITHER YOU OR CHECKMOBI INTENDS TO SEEK ARBITRATION UNDER THESE TERMS OF SERVICE, THE PARTY SEEKING ARBITRATION
    MUST FIRST NOTIFY THE OTHER PARTY OF THE DISPUTE IN WRITING AT LEAST 30 DAYS IN ADVANCE OF INITIATING THE
    ARBITRATION. NOTICE TO CHECKMOBI SHOULD BE SENT AS REQUIRED BY THESE TERMS OF SERVICE. THE NOTICE MUST DESCRIBE THE
    NATURE OF THE CLAIM AND THE RELIEF BEING SOUGHT. IF YOU AND CHECKMOBI ARE UNABLE TO RESOLVE OUR DISPUTE WITHIN 30
    DAYS, EITHER PARTY MAY THEN PROCEED TO FILE A CLAIM FOR ARBITRATION.
    <br><br>
    AN ARBITRATION AWARD AND ANY JUDGMENT CONFIRMING IT APPLY ONLY TO THAT SPECIFIC CASE; IT CAN'T BE USED IN ANY OTHER
    CASE EXCEPT TO ENFORCE THE AWARD ITSELF.
    <br><br>
    Procedure for Notifying the Company of Copyright Infringement. Those who believe that their copyrighted work has
    been infringed or are aware of other infringing material, should contact our Copyright Agent at the address listed
    below and provide us with the following information:
    An electronic or physical signature of a person authorized to act on behalf of the owner of the copyrighted work
    that has allegedly been infringed.<br>
    Identification of the copyrighted work claimed to have been infringed.<br>
    Information describing where the allegedly infringing material is located on the Website.<br>
    Your address, telephone number, and email address.<br>
    A written statement by you that you have a good faith belief that the disputed use is not authorized by the
    copyright owner, its agent, or the law.<br>
    A statement by you that the above information in your notification is accurate and that, under penalty of perjury,
    you are the copyright owner or authorized to act on the copyright owner's behalf.<br>
    The foregoing information may be emailed to <a href="mailto:support@checkmobi.com">support@checkmobi.com</a>.<br>
    <p>
        Following receipt of the information listed above, we will remove or disable access to the infringing material
        and take reasonable steps to notify the member responsible for posting said material. The posting of infringing
        copyrighted material may result in the termination of member privileges of said responsible member.
    </p>
    Miscellaneous. These Terms of Service constitute the entire and only Terms of Service between CheckMobi and each
    user of the Website or the CheckMobi Cloud with respect to the subject matter of these Terms of Service.<br><br>
    If any provision of these Terms of Service be deemed unlawful, void or for any reason unenforceable by a court of
    competent jurisdiction, the validity and enforceability of any remaining provisions will not be affected.<br>
    The failure of the CheckMobi Parties to insist upon strict adherence to any term of these Terms of Service shall not
    constitute a waiver of such term and shall not be considered a waiver or limit that party's right thereafter to
    insist upon strict adherence to that term or any other term contained in these Terms of Service.
    <br>
    No action arising out of this Terms of Service or your use of the CheckMobi Cloud, regardless of form or the basis
    of the claim, may be brought by you more than one (1) year after the cause of action has arisen (or if multiple
    causes, from the date the first such cause arose).
    <br>
    Please see our Privacy Policy page for more info.
    <br>
    Customer Service. If you have any comments or questions regarding these Terms of Service, or wish to report any
    violation of these Terms of Service, you may email us at <a href="mailto:support@checkmobi.com">support@checkmobi.com</a>.

    <p>
        Payment methods available are credit/debit card payments (VISA, MasterCard).
    </p>

    <p>
        Our website is optimized to work on Mozilla Firefox, Google Chrome and Safari browsers.
    </p>

    <p>
        An agreement of providing phone verification services may be reached using CheckMobi website (<a
            href="https://checkmobi.com">https://checkmobi.com</a>). A client may create an account and submit an order
        to purchase a subscription of our services, the subscription will be billed monthly (yearly), effective date is
        the date when entering into the contract, amount is constant (or variable).
        Additional, the client can request adjacent verification services such as SMS verification or IVR call
        verification by ordering a purchase of prepaid credit to support the cost of SMS and IVR calls. After the
        payment has been submitted, and the transaction is considered successful, the customer may receive an email with
        confirmation of purchase and payment detail as well as a receipt of his order.
    </p>

    <p>
        A complaint for wrongdoing can be filed by submitting an email to <a href="mailto:support@checkmobi.com">support@checkmobi.com</a>
        or sending it directly from our website using the following link <a href="https://checkmobi.com/contact.html">https://checkmobi.com/contact.html</a>.
    </p>

    <p>
        Each time the User asks for support feedback, they are obliged to provide the email address used to create the
        account on CheckMobi. CheckMobi does not respond to anonymous support request.
    </p>
    <p>
        CheckMobi ensures that their consultants respond as soon as possible. Normally the response is performed within
        two business days after receiving a request.
    </p>
    <p>
        CheckMobi investigates the complaint as soon as it is possible. The User has the right to be informed on the
        matter progress. If a problem with the CheckMobi Services occurs, CheckMobi will undertake all the necessary
        measures to solve it quickly.
    </p>
    <br>
</div>
