<section>
    <div id="RemoteConfig">
        <div class="container">
            <h2 class="marketing-section-title text-center">
                Remote config - add control, flexibility &amp; A/B testing<br>to your verification flow</h2>
        </div>
        <div class="bg-holder">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div id="NumberVerificationFlow" class="row content-holder justify-content-center">
                            <div class="col-sm-5 text-center image-holder d-none d-sm-flex">
                                <img src="assets/images/landing/verification-flow.png" class="nexus"
                                     alt="verification flow">
                            </div>
                            <div class="col-sm-5 text-holder object-non-visible d-flex align-items-center"
                                 data-animation-effect="fadeInRightSmall">
                                <div>
                                    <h2 class="marketing-subtitle">
                                        01. Change the number verification flow
                                    </h2>
                                    <p class="marketing-text">
                                        Change the number verification flow directly from the Checkmobi website, on the fly,
                                        without deploying a new version.
                                    </p>
                                    <p class="marketing-text">
                                        Our complete suite of verification products (SMS, Voice, Missed Call) creates a
                                        variety
                                        of flows that you can test instantly.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="ABTesting" class="row content-holder justify-content-center">
                            <div class="col-sm-5 text-holder object-non-visible d-flex align-items-center"
                                 data-animation-effect="fadeInLeftSmall">
                                <div>
                                    <h2 class="marketing-subtitle">
                                        02. A/B testing &amp; maximum flexibility
                                    </h2>
                                    <p class="marketing-text">
                                        Customize different flows by country, operator or even number and split test to
                                        validate improvements.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center image-holder d-none d-sm-block">
                                <img src="assets/images/landing/ad-testing.png" alt="ab testing">
                            </div>
                        </div>
                        <div id="SkipProcess" class="row content-holder justify-content-center">
                            <div class="col-sm-5 text-center image-holder d-none d-sm-block">
                                <img src="assets/images/landing/skip-the-release-process.png" alt="release process">
                            </div>
                            <div class="col-sm-5 text-holder object-non-visible d-flex align-items-center"
                                 data-animation-effect="fadeInRightSmall">
                                <div>
                                    <h2 class="marketing-subtitle">
                                        03. Skip the release process
                                    </h2>
                                    <p class="marketing-text">
                                        With our Remote Config SDK you get all of these features directly available on the
                                        CheckMobi web console so you can act fast while skipping the lengthy release
                                        process.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
