<footer>
    <div class="footer-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-2">
                    <h5>Company</h5>
                    <ul>
                        <li>
                            <a [routerLink]="['/about']" title="About">About</a>
                        </li>
                        <li>
                            <a [routerLink]="['/terms-of-service']" title="Terms of Service">Terms</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy-policy']" title="Privacy Policy">Privacy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/gdpr']" title="GDPR">GDPR</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Customers</h5>
                    <ul>
                        <li>
                            <a [routerLink]="['/']" fragment="DevelopersSection" title="API">API</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']" fragment="SecureSection" title="Secure">Secure</a>
                        </li>
                        <li>
                            <a [routerLink]="['/']" fragment="AntiFraud" title="AntiFraud">AntiFraud</a>
                        </li>
                        <li>
                            <a [routerLink]="['/documentation']" title="Documentation">Documentation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Products</h5>
                    <ul>
                        <li>
                            <a title="Missed call verification" [routerLink]="['/']"
                               fragment="MissedCallProduct">Missed call verification</a>
                        </li>
                        <li>
                            <a title="SMS verification" [routerLink]="['/']" fragment="SmsProduct">SMS
                                verification</a>
                        </li>
                        <li>
                            <a title="IVR call verification" [routerLink]="['/']"
                               fragment="VoiceCallProduct">IVR call verification</a>
                        </li>
                        <li>
                            <a title="Multiple Carrier Support" [routerLink]="['/']"
                               fragment="MultipleCarriersSection">Multiple Carrier Support</a>
                        </li>
                        <li>
                            <a title="Remote config" [routerLink]="['/']" fragment="RemoteConfig">Remote
                                config</a>
                        </li>
                        <li>
                            <a title="Messaging API" [routerLink]="['/']"
                               fragment="ComplementarySection">Messaging API</a>
                        </li>
                        <li>
                            <a title="Voice API" [routerLink]="['/']" fragment="VoiceSection">Voice
                                API</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Resources</h5>
                    <ul>
                        <li>
                            <a title="Pricing" [routerLink]="['/pricing']">Pricing</a>
                        </li>
                        <li>
                            <a rel="nofollow" title="Getting Started" href="/login.html#/signup">Getting Started</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Contact Us</h5>
                    <ul>
                        <li>
                            <a href="/contact.html">Contact Sales</a>
                        </li>
                        <li>
                            <a href="/contact.html">Contact Support</a>
                        </li>
                        <li>
                            <a title="FAQ" [routerLink]="['/faq']">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <app-footer-contact class="d-none d-md-block"></app-footer-contact>
            <div class="row justify-content-center">
                <div class="col-sm-10 powered-holder flex-row align-items-center d-flex justify-content-between">
                    <a href="http://www.icondrawer.com/" target="_blank" rel="noopener">
                        <img height="40" class="paylane-img" alt="icon drawer"
                             src="assets/images/icon-drawer.png"></a>
                    <div class="grayLight">
                        CHECKMOBI LIMITED, Registration No. 115778
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
