<div>
    <div class="page-title-holder">
        <div class="container">
            <h1 class="page-title">Page not found</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center margin-bottom-20px">
            <div class="col-sm-8">
                <div class="alert alert-info flex-row d-flex align-items-center">
                    <i class="fa fa-info-circle fa-2x margin-right-10px"></i>
                    <span>It seems like you're in a wrong place. Try to find your way around:</span>
                </div>
                <div class="">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" title="Products" [routerLink]="['/']" fragment="MissedCallProduct">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="API" [routerLink]="['/']" fragment="DevelopersSection">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Secure" [routerLink]="['/']" fragment="SecureSection">Secure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="AntiFraud" [routerLink]="['/anti-fraud']">AntiFraud</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Pricing" [routerLink]="['/pricing']">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Missed Call" [routerLink]="['/missed-call']">Missed Call</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Documentation" [routerLink]="['/documentation']">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="About" [routerLink]="['/about']">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Terms" [routerLink]="['/terms']">Terms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Privacy" [routerLink]="['/privacy']">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="GDPR" [routerLink]="['/gdpr']">GDPR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="FAQ" [routerLink]="['/faq']">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" title="Contact" [routerLink]="['/contact']">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login.html" title="Login" class="nav-link">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
