<section>
    <div id="ComplementarySection">
        <h2 class="marketing-section-title text-center margin-bottom-20px">Complementary products</h2>

        <div id="SmsMessagingApi">
            <div class="container">
                <h2 class="marketing-subheader text-center font-weight-semi-bold">SMS Messaging API</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 justify-content-center">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/one-time-password.png"
                                         alt="One Time Passwords">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader">One Time Password</h3>
                                        <p class="voice-description marketing-text">
                                            Use our SMS messaging product to send one-time passwords via text message to your users
                                            for
                                            increased security.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/better-delivery.png" alt="be in full control">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader">Better delivery</h3>
                                        <p class="voice-description marketing-text">
                                            Carrier networks can be volatile - which is why our Multiple
                                            Carrier SupportTM feature makes sure you always have the fastest and most secure
                                            alternative
                                            routes.</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/bulk-messaging.png" alt="set as fallback">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader">Bulk Messaging</h3>
                                        <p class="voice-description marketing-text">
                                            Integrate via CheckMobi's SMS API to broadcast messages to all of your users for
                                            events, app invites,
                                            location sharing, etc. Accelerate app discovery by sending download links directly to
                                            mobile phones or allow
                                            users to share the app via text messaging.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="VoiceSection">
            <div class="container">
                <h2 class="text-center marketing-subheader font-weight-semi-bold">Voice API</h2>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 justify-content-center">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/voice-broadcasting-messages.png"
                                         alt="One Time Passwords">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader on2lines">Voice Broadcasting Messages</h3>
                                        <p class="voice-description marketing-text">
                                            Send personalized voice messages to your customers. Use our Voice API to build apps as
                                            auto dialers notification systems, or even phone surveying tools for political campaigns.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/two-factory-authentication.png"
                                         alt="be in full control">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader on2lines">Two-factor authentication</h3>
                                        <p class="voice-description marketing-text">
                                            Secure your online transactions by adding two-factor authentication easily to your user
                                            flow on any
                                            web or mobile application. With just a few lines of code, CheckMobi can send secure
                                            one-time passwords
                                            to your users via a voice call.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <img height="100" src="assets/images/landing/ivr-phone-menu.png" alt="set as fallback">
                                    <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                        <h3 class="marketing-subheader on2lines">IVR Phone Menu</h3>
                                        <p class="voice-description marketing-text">
                                            Use our Voice API to build powerful interactive voice response (IVR) systems. Customize
                                            and automate
                                            call flows with an intelligent call logic that suits your business needs. Coming soon!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
