<section id="SecureSection">
    <h2 class="marketing-section-title font-weight-bold">Your data is secure and private</h2>
    <h3 class="marketing-subheader font-weight-semi-bold">Our business model is very straightforward:
        we sell number verification services.
    </h3>
    <div class="secure-features-holder">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 secure-feature object-non-visible" data-animation-effect="fadeInUpSmall">
                    <img src="assets/images/landing/5-star-api.png" height="130" alt="stars">

                    <h3 class="marketing-subheader">5 star API</h3>
                    <p class="marketing-text">We will never change the rules or restrict<br>our APIs to hurt our
                        developers</p>
                </div>
                <div class="col-sm-4 secure-feature object-non-visible" data-animation-effect="fadeInUpSmall">
                    <img src="assets/images/landing/your-own-data.png" height="130" alt="stars">

                    <h3 class="marketing-subheader">You Own your data</h3>
                    <p class="marketing-text">We don't collect your user's data to sell<br>to advertisers nor use
                        it in any other way</p>
                </div>
                <div class="col-sm-4 secure-feature object-non-visible" data-animation-effect="fadeInUpSmall">
                    <img src="assets/images/landing/secured-data.png" height="130" alt="stars">

                    <h3 class="marketing-subheader">Secured data</h3>
                    <p class="marketing-text">Every transaction is secured with SSL<br>and all data is encrypted</p>
                </div>
            </div>
        </div>
    </div>
</section>
