<section>
    <div id="MultipleCarriersSection">
        <div class="container">
            <h2 class="marketing-section-title text-center">Multiple Carrier Support includes:</h2>
            <div class="row sub-section justify-content-center">
                <div class="col-sm-12 col-md-10 justify-content-center">
                    <div class="multiple-carriers-section text-center">
                        <div class="row">
                            <div class="col-sm-4">
                                <img height="100" src="assets/images/landing/set-as-fallback.png" alt="set as fallback">
                                <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                    <h3 class="marketing-subheader">Set as fallback</h3>
                                    <p class="marketing-text">
                                        You can enable the two carriers in fallback mode si that a second attempt to
                                        verify
                                        the same number in less than 5 minutes to use the second carrier.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img height="100" src="assets/images/landing/be-in-full-control.png"
                                     alt="be in full control">
                                <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                    <h3 class="marketing-subheader">Be in full control</h3>
                                    <p class="marketing-text">
                                        You have full control in the rare case of one of our carriers underperforming.
                                        You
                                        can act
                                        immediately and switch SMS or Calling via the second provider giving us time to
                                        troubleshoot
                                        the issue without losing customers.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <img height="100" src="assets/images/landing/decide-with-analytics.png"
                                     alt="set as fallback">
                                <div class="object-non-visible" data-animation-effect="fadeInDownSmall">
                                    <h3 class="marketing-subheader">Decide with analytics</h3>
                                    <p class="marketing-text">
                                        Monitor real-time analytics and route each country with the most appropriate
                                        carrier
                                        based on
                                        the best combination of pricing and success rate. Your account comes set up by
                                        default to have
                                        the best solution in place.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
