<section>
    <div id="DevelopersSection">
        <div class="container">
            <h2 class="marketing-section-title text-center font-weight-bold">Designed for developers</h2>
            <h3 class="text-center marketing-subheader font-weight-semi-bold">A powerful range of SDKs and APIs</h3>
            <div class="apis-holder row">
                <div class="col">
                    <a href="https://github.com/checkmobi/remote-config-sdk-android"
                       rel="noopener"
                       target="_blank"
                       title="CheckMobi Android SDK"
                       class="object-non-visible" data-animation-effect="fadeInDownSmall">
                        <img src="assets/images/landing/android-icon.png" style="max-height: 40px" alt="checkmobi android api">
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/checkmobi/remote-config-sdk-ios" rel="noopener" target="_blank" title="CheckMobi iOS SDK"
                       class="object-non-visible" data-animation-effect="fadeInDownSmall">
                        <img src="assets/images/landing/ios.png" alt="checkmobi ios api" style="max-height: 60px">
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/checkmobi/checkmobi-php" rel="noopener" target="_blank" title="CheckMobi php SDK"
                       class="object-non-visible" data-animation-effect="fadeInDownSmall">
                        <img src="assets/images/landing/php.png" alt="checkmobi php api" style="max-height: 50px">
                    </a>
                </div>
                <div class="w-100 d-md-none"></div>
                <div class="col">
                    <a href="https://github.com/WiFire/omrs-checkmobi" rel="noopener" target="_blank" title="CheckMobi node SDK"
                       class="object-non-visible" data-animation-effect="fadeInDownSmall">
                        <img src="assets/images/landing/nodejs.png" alt="checkmobi nodejs api" style="max-height: 90px">
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/mithucste30/check_mobi" rel="noopener" target="_blank" title="CheckMobi Ruby SDK"
                       class="object-non-visible" data-animation-effect="fadeInDownSmall">
                        <img src="assets/images/landing/ruby.png" alt="checkmobi ruby api" style="max-height: 60px">
                    </a>
                </div>
            </div>
            <div class="rest-holder flex-column-xs">
                <img src="assets/images/landing/rest.png" hspace="20" style="max-height: 40px" alt="checkmobi rest">
                <span class="marketing-text object-non-visible" data-animation-effect="fadeInRightSmall">to use any programming language</span>
            </div>
            <div class="marketing-text">
                For more information see our robust <a class="link" href="/documentation.html"><strong>documentation</strong></a>
            </div>
        </div>
    </div>
</section>
