<section id="no-spy-first">
    <div class="container-fluid text-center marketing-highlight-holder">
        <div class="marketing-highlight container">
            <div class="row">
                <div class="embed-holder">
                    <div class="">
                        <div class="highlight-logo-holder">
                            <div class="text-center d-none d-md-block">
                                <img src="assets/images/logo.png" class="main-logo" id="MainLogo"
                                     alt="CheckMobi">
                                <div class="get-started-text">Verify every number. Save every cent.
                                </div>
                                <div class="text-center cta-holder" data-ng-cloak>
                                    <a rel="nofollow" class="btn get-started-button"
                                       *ngIf="!userExists"
                                       href="/login.html#/signup">SIGNUP FOR FREE</a>
                                    <a rel="nofollow" class="btn get-started-button"
                                       *ngIf="userExists"
                                       href="/account.html#/upgrade/subscription/">UPGRADE</a>
                                </div>
                            </div>
                            <div class="text-center d-block d-md-none">
                                <div class="font-size-bigger-1 font-weight-bold">Verify every number. Save every cent.</div>
                            </div>
                        </div>
                    </div>
                    <div class="video-holder">
                        <button class="play-video-button" data-toggle="modal" data-target="#videoModal"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
