@import "vars";
@import "bootstrap-helpers";

section {
  background-color: $landing_bg;
}

.marketing-highlight-holder {
  width: 100vw;
  height: calc(100vh - 75px);

  background-image: url('/assets/images/landing/landing-bg.png');
  background-size: cover;
  background-position: center;
  max-width: $cm_max_screen;

  overflow: hidden;
  max-height: 800px;
  min-height: 616px;
  position: relative;

  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 12px;
    background-image: none;
    color: $landing_white;
    max-height: none;
    min-height: 0;
    height: auto;
    //margin-top: -30px;
  }

  #no-spy-first {
    background-color: $landing_bg;
  }

  .marketing-highlight {
    background: transparent;
    position: relative;
    height: 100%;
  }

  .marketing-highlight {
    &.bottomed {
      padding-top: 75px;
      bottom: 0;
      margin-top: 0;

      .embed-holder {
        padding-top: 50px;
      }
    }

    .main-logo {
      margin-top: 100px;
      max-height: 75px;
    }

    .get-started-text {
      font-size: 17px;
      margin-top: 15px;
      font-weight: $semi_bold;
      color: #e4e4e4;
    }

    .cta-holder {
      margin-top: 60px;

      .get-started-button {
        height: 44px;
        line-height: 44px;
        padding: 0;
        font-size: 18px;
        min-width: 204px;
        border-radius: 12px;
        font-weight: bold;
        color: #ffece2;
        background-image: url('/assets/images/landing/signup-button.png');
        background-size: cover;
        background-position: center;
      }
    }

    .embed-holder {
      padding-top: 20px;
      overflow: visible;

      .highlight-logo-holder {
        //margin-left: 20px;
      }

      .video-holder {
        position: absolute;
        bottom: 50px;
        font-size: 17px;
        font-weight: normal;
        color: #e4e4e4;
        text-align: center;

        .play-video-button {
          background-image: url('/assets/images/landing/landing-video-button.png');
          background-size: cover;
          background-color: transparent;
          border: none;
          box-shadow: none;
          width: 320px;
          height: 245px;

          &:focus {
            border: none;
            outline: none;
          }

          @media (max-width: (map-get($grid-breakpoints, md))) {
            height: 161px;
            width: 213px;
          }
        }

        @media (max-width: (map-get($grid-breakpoints, md))) {
          margin-top: 40px;
          margin-bottom: 60px;
        }
      }

    }

    .phone-holder {
      overflow: visible;
      position: relative;

      .slider-holder {
        width: 167px;
        position: absolute;
        top: 67px;
        left: 118px;
        height: 293px;
        overflow: hidden;
      }

      img {
        width: 470px;
      }
    }

    @media (max-width: (map-get($grid-breakpoints, md))) {
      min-width: 0;
      max-width: none;
      position: static;
      margin-left: 0 !important;
      padding-top: 0 !important;

      .highlight-logo-holder {
        margin-right: 0;
      }

      .embed-holder {
        width: 100%;

        .video-holder {
          position: static;
          width: 100%;
          text-align: center;
          height: auto;
        }
      }

      .phone-holder {
        width: 100%;
        height: auto;
        margin-top: 20px;
        overflow: hidden;
        text-align: center;

        .slider-holder {
          position: static;
          height: auto;
          width: 220px;
          display: inline-block;
          border: solid 1px #ddd;
        }
      }
    }
  }

}
