<div>
    <h3>Product</h3>

    <div class="accordion card" id="Who-is-using-CheckMobi">
        <a [routerLink]="['/faq/Who-is-using-CheckMobi']"
           data-toggle="collapse" class="card-header" data-target="#collapseProduct1" aria-expanded="true"
           aria-controls="collapseProduct1">
            <h5>Who is using CheckMobi?</h5>
        </a>
        <div id="collapseProduct1" class="collapse card-body" aria-labelledby="headingOne">
            <div>
                CheckMobi is used by over 200 clients worldwide some of them being leaders in the industry they
                activate.
                You can find on our home page some of those customers.
            </div>
        </div>
    </div>

    <div class="accordion card" id="How-can-I-try-your-service-for-free">
        <a [routerLink]="['/faq/How-can-I-try-your-service-for-free']"
           data-toggle="collapse" class="card-header" data-target="#collapseProduct2" aria-expanded="true"
           aria-controls="collapseProduct2">
            <h5>How can I try your service for free?</h5>
        </a>
        <div id="collapseProduct2" class="collapse card-body" aria-labelledby="headingOne">
            <div>
                Simple, just create an account and request trial
                credit to unlock all our product services. We will give you <strong>1$</strong> and <strong>200 Missed
                Call verifications</strong>
                to use.
            </div>
        </div>
    </div>
</div>
