<div>
    <h3>Pricing</h3>

    <div class="accordion card" id="Why-do-I-need-to-pay-subscription-if-I-only-need-SMS-verification">
        <a [routerLink]="['/faq/Why-do-I-need-to-pay-subscription-if-I-only-need-SMS-verification']"

           data-toggle="collapse" class="card-header" data-target="#collapsePricing1" aria-expanded="true"
           aria-controls="collapsePricing1">
            <h5>Why do I need to pay subscription if I only need SMS verification?</h5>
        </a>
        <div id="collapsePricing1" class="collapse card-body" aria-labelledby="headingOne">
            <div>
                We ask for subscription because:
                <ol>
                    <li>
                        We have additional platform features for all our products including SMS such as: Multiple
                        carrier support
                        where you can route SMS traffic between two very good carriers. They can also be used in round
                        robin for
                        higher chance of delivering the SMS. By suing CheckMobi you will get all our upcoming platform
                        updates and
                        features.
                    </li>
                    <li>
                        Our low SMS rates. We don’t have special plans based on volume, the lowest rate we can use we
                        give it to
                        all startups. We have to cover our <strong>24/7 support</strong> cost through a monthly fee.
                        There are services that don’t charge for subscription but they are also more expensive or don’t
                        provide this
                        quality in support and deliverability. There are companies that charge a flat rate per
                        successful SMS - 10
                        cents. If your business prospers you will rather pay 15$ a month rather than a high fare on SMS.
                    </li>
                    <li>
                        In our subscription you also have 3 other verification methods available with Missed Call &
                        Caller ID being
                        free. We encourage our customers to use all of them in a complete flow to decrease cost and
                        verify the
                        maximum number of users.
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="accordion card" id="What-payment-methods-do-you-support">
        <a [routerLink]="['/faq/What-payment-methods-do-you-support']"
           data-toggle="collapse" class="card-header" data-target="#collapsePricing2" aria-expanded="true"
           aria-controls="collapsePricing2">
            <h5>What payment methods do you support?</h5>
        </a>
        <div id="collapsePricing2" class="collapse card-body" aria-labelledby="headingOne">
            <div>
                We currently support credit card payments and prepaid wire transfer.
            </div>
        </div>
    </div>

    <div class="accordion card" id="What-does-it-mean-you-charge-only-for-successful-SMS">
        <a [routerLink]="['/faq/What-does-it-mean-you-charge-only-for-successful-SMS']"
           data-toggle="collapse" class="card-header" data-target="#collapsePricing3" aria-expanded="true"
           aria-controls="collapsePricing3">
            <h5>What does it mean you charge only for successful SMS?</h5>
        </a>
        <div id="collapsePricing3" class="collapse card-body" aria-labelledby="headingOne">
            <div>
                A successful message is an SMS that CheckMobi successfully delivers across to our carrier and
                they mange to send it forward. It can be a case where a message is successful in sending but
                undelivered because phone is closed or destination number is unreachable. If SMS is failing
                because of CheckMobi then you won’t get charged.
            </div>
        </div>
    </div>
</div>
