<section>
    <div id="verificationProducts">
        <div class="container">
            <h2 class="marketing-section-title text-center">
                3 verification products<br>to build the perfect <span class="font-weight-bold">sign-up flow</span>
            </h2>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div id="MissedCallProduct" class="content-holder row justify-content-center">
                        <div class="text-center image-holder d-none d-md-flex col-sm-5 flex-column justify-content-center">
                            <img src="assets/images/landing/verification-iphone.png" class="verification"
                                 alt="missed call verification">
                        </div>
                        <div class="text-holder col-sm-5 object-non-visible d-flex flex-column justify-content-center"
                             data-animation-effect="fadeInRightSmall">
                            <h3 class="marketing-subtitle font-weight-bold">
                                <a>01.</a> Missed call
                            </h3>
                            <p class="marketing-text">
                                This simple but powerful verification is made by intercepting a missed call from a
                                random
                                number allowing you to verify a user with a seamless user experience that removes the
                                pin-entry
                                on Android and reduces signup friction. Using CheckMobi SDKs you can integrate
                                Missed Call
                                verification with just a few lines of code.
                            </p>
                            <p class="marketing-text">
                                <a href="/pricing.html#/rates/">Click here to view pricing &amp;
                                    coverage.</a>
                            </p>
                            <p class="marketing-text">
                                For more details on how to implement Missed call, <br>
                                <a href="/missed-call.html">see here</a>.
                            </p>
                        </div>
                    </div>

                    <div id="SmsProduct" class="content-holder row justify-content-center">
                        <div class="col-sm-5 text-holder object-non-visible d-flex flex-column justify-content-center"
                             data-animation-effect="fadeInLeftSmall">
                            <div>
                                <h3 class="marketing-subtitle font-weight-bold">
                                    <a>02.</a> Strong SMS verification at affordable rates
                                </h3>
                                <p class="marketing-text">
                                    What makes our SMS verification stronger than our competitors is the "Multiple Carrier"
                                    support which allows CheckMobi to expose to you two different global SMS providers.
                                    Configure
                                    them in round-robin fashion for fallback or choose which of them to be set up as
                                    "Primary SMS
                                    Provider" on each country based on real-time analytics of cost and success rate."
                                </p>
                                <p class="marketing-text">
                                    It's like integrating two different highly reliable companies to handle your SMS
                                    verification.<br>
                                    <a href="/pricing.html#/rates/">View pricing &amp; coverage</a>
                                </p>
                            </div>
                        </div>
                        <div class="text-center d-none d-md-flex col-sm-5 flex-column justify-content-center">
                            <img src="assets/images/landing/strong-sms-iphone.png" alt="sms verification">
                        </div>
                    </div>


                    <div id="VoiceCallProduct" class="content-holder row  justify-content-center">
                        <div class="text-center d-none d-md-flex col-sm-5 flex-column justify-content-center">
                            <img src="assets/images/landing/voice-call-iphone.png" alt="voice call verification">
                        </div>
                        <div class="col-sm-5 text-holder object-non-visible d-flex flex-column justify-content-center"
                             data-animation-effect="fadeInRightSmall">
                            <div>
                                <h3 class="marketing-subtitle font-weight-bold">
                                    <a>03.</a> Voice call
                                </h3>
                                <p class="marketing-text">
                                    Whether you want to add a more personal touch to your verification flow, or simply to
                                    have
                                    an
                                    alternative for your users besides SMS, CheckMobi's rich voice verification will do
                                    the
                                    trick.
                                </p>
                                <p class="marketing-text">
                                    We support more than 14 languages in which you can customize your IVR message, many of
                                    them
                                    with male &amp; female voice options.<br>
                                    <a href="/pricing.html">View pricing &amp; coverage</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-div">
            <img src="assets/images/landing/bg-after-landing.png" alt="bg">
        </div>
    </div>
</section>
