$cm_green: #4baf12;
$warning: #ff7b06;

$cm_breakpoint: 1366px;
$cm_max_screen: 1680px;

$semi_bold: 600;
$light_bold: 300;

$landing_white: #f7f7f7;
$marketing_text_color: #4c4c4c;
$text_color: rgb(0,0,0);

/*
marketing
 */

$font-size: 14px;
$landing_bg: #010029;
$landing_bg2: #02113e;
$landing_bg_light_blue: #e4eeff;
$landing_bg_gray: #f5f5f5;
$gray9: #999999;
$pricing_blue: #5aa3ff;

$section_padding: 80px;

/*
fonts
 */
$font-section-title: 2.9rem;
$font-section-title-smaller: 2.1rem;
$font-marketing-subtitle: 2.2rem;
$font-marketing-subtitle-smaller: 1.8rem;
$font-marketing-subheader: 1.8rem;
$font-marketing-subheader-smaller: 1.4rem;

/*
navbar
 */
$navbar_height: 63px;
$navbar-text-color: #555;
