<div class="page-title-holder">
    <div class="container">
        <h1 class="page-title">GDPR</h1>
    </div>
</div>
<div class="container">
    <h1>
        Getting ready for Europe’s new data protection rules
    </h1>

    <p>
        In May 2018, Europe’s new General Data Protection Regulation (GDPR) came into force. It ushers in a new age,
        unifying data protection rules across Europe, strengthening the rights of European citizens and placing new
        obligations on all organizations that offer goods and services online.
    </p>


    <h3>Consent</h3>
    <p>
        If you collect and/or process personal information such as telephone numbers, IP Addresses, email ids etc.
        then you must ensure that you do so only with clear and specific consent of your users.<br>
        The onus is on you to ensure that your users know exactly what they are signing up for, so consider
        simplifying the language of your Terms of Service, clearly spelling out what personal data you intend to
        hold and process. Don’t have that checkbox preselected, and implement double opt-in for marketing communication.
    </p>


    <h1>What is Checkmobi doing to get GDPR ready?</h1>
    <h3>Organizational updates</h3>
    <ul>
        <li>
            We are starting the transformation from within, by appointing a Data Protection Officer.
        </li>
    </ul>


    <h3>Policy updates</h3>
    <ul>
        <li>We are assessing the data protection impact, regulate access to personal data and proactively build
            procedures to overcome security breaches;</li>
    </ul>

    <h3>Data access</h3>
    <ul>
        <li>
            We are implementing a data retention policy. Our goal is to ensure that we only retain data long enough
            to enable customers to have access to enable business activities, but not longer when it doesn’t serve any purpose.
        </li>
    </ul>

    <p>
        Storing and providing access to data for our customers serves a number of purposes:
    </p>
    <ul>
        <li>
            Troubleshooting problems (e.g. the delivery of a call or text message)
        </li>
        <li>
            Downloading bulk communications records for statistics
        </li>
        <li>
            Simplifying data storage implementation for our customers and making their data available to them in bulk
        </li>
    </ul>

    <p>
        We are implementing a data retention period for all communications records containing personal data.
        All records older than six months can be deleted from the Checkmobi platform, and the above methods
        cannot be used to access the data.<br>
        If you have a need to view or process records older than six months, prior to these being deleted please contact
        us so that we can help you gather this data. (email us at <a href="mailto:support@checkmobi.com">support[@]checkmobi.com</a>)
    </p>

    <p class="font-smaller gray9">
        NOTE:  ‘data’ includes personal data collected and/or generated by CheckMobi while providing you with the
        communication services, including call detail records, etc.
    </p>

    <h3>Product updates</h3>
    <ul>
        <li>
            Consent notifications on Checkmobi website
        </li>
        <li>
            Display <a rel="nofollow" href="/account.html#/settings/account-info/">account data</a> that we store and possibility of
            <a rel="nofollow" href="/account.html#/settings/account-info/">delete account</a>
        </li>
    </ul>

    <h3 class="margin-bottom-40px margin-top-40px"><strong>Finally</strong>, we made sure our partners are also GDPR compliant.</h3>
</div>
