<section>
    <div id="mediaSection">
        <div>
            <div class="container">
                <h2 class="marketing-section-title margin-top-0">In the media</h2>
                <div class="media row flex-row flex-wrap align-items-center">
                    <div class="col-sm-3 col-xs-6 align-items-center d-flex justify-content-center">
                        <a href="https://www.forbes.ro/mvp-academy-2016-checkmobi-62831"
                           target="_blank" rel="noopener" title="CheckMobi in Forbes" class="text-center">
                            <img src="assets/images/landing/forbes.png" alt="Forbes" width="70%">
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 align-items-center d-flex justify-content-center">
                        <a href="https://mvpacademy.co/alumni/" target="_blank" rel="noopener" title="CheckMobi at MVP Academy">
                            <img src="assets/images/landing/mvp-academy.png" alt="MVP Academy">
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 align-items-center d-flex justify-content-center">
                        <a href="https://websummit.com/blog/10-romanian-startups-coming-web-summit/" target="_blank" rel="noopener"
                           title="CheckMobi at Web Summit">
                            <img src="assets/images/landing/web-summit.png" alt="Web Summit">
                        </a>
                    </div>
                    <div class="col-sm-3 col-xs-6 align-items-center d-flex justify-content-center">
                        <a title="CheckMobi in StartupCafe" target="_blank">
                            <img src="assets/images/landing/startup-cafe.png" alt="startup cafe">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
