@import "vars";
@import "bootstrap-helpers";

#clientsSection {
  padding: $section_padding 0;
  background-color: $landing_bg2;
  color: $landing_white;
  font-size: 20px;
  font-weight: bold;

  > div {
    max-width: 1650px;
  }

  .number {
    font-size: 80px;
    color: $cm_green;
    font-weight: 800;
  }

  .text {
    font-size: 20px;
    font-weight: bold;
    color: $landing_white;
    margin-left: 10px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #FF5500;

    @media (max-width: map-get($grid-breakpoints, md)) {
      font-size: 14px;
    }
  }

  .clients-holder {
    margin: 60px 0 40px;

    img {
      max-width: 100%;
    }

    &.small {
      max-height: 190px;
      overflow: hidden;

      .show-button {
        img {
          transform: rotate(180deg);
        }
      }
    }

    .show-button {
      img {
        transition: rotate 1s ease-out;
      }
    }
  }
}
